$bg_primary: #ffffff;
$bg_secondary: #fff1f9;
$primary_color: #732d53;
$secondary_color: #d9adc5;
$destaque_color: #F83ABD;
$text_color--dark: #000;
$text_color--light: #fff;
$destaque_font: 'Nunito', sans-serif;
$transition: all 0.3s ease-in-out;
