@import '../mixins.scss';
@import '../variables.scss';

#footer {
    position: relative;
    background-color: $primary_color;
    padding: 1rem;

    #contacts {
        padding: 3rem 1rem;
        margin-bottom: 2rem;

        h3 {
            text-transform: none;
            color: $text_color--light;
            text-align: center;
            margin-bottom: 2.5rem;
            font-size: 1.7rem;
        }

        .contacts__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1.5rem;

            a {
                display: flex;
                align-items: center;
                transition: $transition;
                
                &:hover, &:hover svg > path {
                    color: $secondary_color;
                }
            }

            a, svg > path {
                color: $text_color--light;
            }

            svg {
                font-size: 1.5rem;
            }
        }
    }

    .powered_by {
        text-align: center;
        color: $text_color--light;
        font-size: .9rem;
    }

    .link_top {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        svg {
            font-size: 2rem;

            * {
                color: $text_color--light;
            }

            &:hover > * {
                color: $secondary_color;
            }
        }
    }
}