@import '../mixins.scss';

#logo_area {
  min-height: calc(100vh - 4.3rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $bg_secondary;
  gap: 2rem;

  article {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      width: 23rem;
      min-width: 12rem;
    }
  }

  .text_article {
    width: 60%;
    flex-direction: column;

    p {
      font-size: 4rem;
      font-family: $destaque_font;
      margin-bottom: 1rem
    }

    a {
        @include btn;
    }
  }
}
